.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.title {
    font-size: 25px;
    font-weight: 900;
    font-family: 'Roboto';
    color: #287dc4;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 20px;
}

.input {
    border: none;
    border-bottom: 0.5px solid black;
    outline: none;
    padding: 0px !important;
    height: 30px;
    margin: auto 0;
}

.incompleted_container, .completed_container {
    width: 90%;
    text-align: left;
}
/* 
.button {
    position: absolute;
    bottom: 100px;
} */