
.questions_container {
    text-align: left;
    width: 70%;
    margin: 0 auto;
}

.question {
    margin: 10px 0;
    padding: 20px;
}

.button_container {
    align-items: end;
    align-content: end;
}